#contenedor-fechas{
    width: 80%;
    height: auto;
    margin: 2rem auto;
    display: flex;
    flex: 1;
    background-color: #292525;
}

#contenedor-imagen{
    width: 30%;
    aspect-ratio: 2/3;
    margin: 2rem 2rem 2rem 2rem;
}

#proximas-funciones{
    display: flex;
    width: 70%;
    margin: 2rem auto;
    flex-direction: column;
}

#contenedor-mostrar-fechas{
    border: 2px solid rgb(117, 130, 142);
    border-radius: 3rem;
    width: 15%;
    height: 3rem;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

#contenedor-mostrar-fechas:hover{
    box-shadow: 1px  5px 10px whitesmoke;
    transform: scale(1.05);
    background-color: rgb(12, 12, 124);
}

.mostrar-fechas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.mostrar-horarios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

#datos-funciones{
    background-color: #4d4646;
}

#contenedor-funciones{
    width: 80%;
    align-items: center; 
    margin: 0 auto;
    margin-top: 2rem;
}

table {
    background-color: rgb(8, 5, 170);
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: aliceblue;
  }
  
td, th {
    border: 1px solid rgb(30, 30, 30);
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #4d4646;
}

.ancho-columna{
    width: 16.66%;
}

#logo-modal{
    width: 10rem;
    height: 9rem;
    margin-top: 1rem;
    margin-bottom: none;
    padding: none;
}

#label-modal{
    color: black;
    width: 30%;
}

.input-modal{
    border-radius: 10px;
    width: 50% !important;
}

.modal-header{
    height: 10vh;
    background-color: rgb(31, 7, 127);
    justify-content: center;
    
}

#exampleModalLabel{
    color: aliceblue;
}

.modal-footer{
    background-color: rgb(31, 7, 127);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-secondary{
    background-color: rgb(214, 24, 24);
    width: 48%;
    margin: 0;
}

.btn-primary{
    background-color: #00bd6e;
    width: 48%;
    margin: 0;
    border: #00bd6e;
}

.btn-close{
    background-color: rgb(214, 24, 24);
}

.modal-body{
    width: 100%;
}

.ticket{
    width: 80%;
    height: auto;
    margin: 2rem auto;
    clip-path: polygon(
        0 10%, 5% 0, 95% 0, 100% 10%, 
        100% 90%, 95% 100%, 5% 100%, 0 90%
    );
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-image: url(../img/10.jpg);
    background-size: contain;
}

.campo-ticket{
    margin-left: 2rem;
    color:rgb(255, 255, 0);
    width: 90%;
    margin: 0 auto;
}

.id-oculta{
    display: none;
}

.funcion-seleccionada{
    background-color: rgb(16, 16, 132);
}

.btn-primary:hover{
    background-color: #02d87f
}

.btn-secondary:hover{
    background-color: red;
}

.boton-ticket{
    width: 80%;
    margin: 0 auto;
    background-color: #00bd6e;
    min-width: 87px;
}

.boton-ticket:hover{
    background-color: #00bd6e;
}

.boton-no-ticket{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(209, 46, 46);
    opacity: 0.5;
    pointer-events: none;
}

.boton-no-ticket:hover{
    background-color: rgb(209, 46, 46);
}