#Contenedor-Fechas{
    width: 80%;
    height: auto;
    margin: 2rem auto;
    display: flex;
    flex: 1;
    background-color: #292525;
}

#contenedor-Imagen{
    width: 30%;
    aspect-ratio: 2/3;
    margin: 2rem 2rem 2rem 2rem;
}

#Proximas-Funciones{
    display: flex;
    width: 70%;
    margin: 2rem auto;
    flex-direction: column;
}

#Contenedor-MostrarFechas{
    border: 2px solid rgb(117, 130, 142);
    border-radius: 3rem;
    width: 15%;
    height: 3rem;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

#Contenedor-MostrarFechas:hover{
    box-shadow: 1px  5px 10px whitesmoke;
    transform: scale(1.05);
    background-color: rgb(12, 12, 124);
}

.Mostrar-Fechas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.Mostrar-Horarios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

#Datos-Funciones{
    background-color: #4d4646;
}

#Contenedor-Funciones{
    width: 80%;
    align-items: center; 
    margin: 0 auto;
    margin-top: 2rem;
}

table {
    background-color: rgb(8, 5, 170);
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: aliceblue;
  }
  
td, th {
    border: 1px solid rgb(30, 30, 30);
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #4d4646;
}

.Ancho-Columna{
    width: 20%;
}

#LogoModal{
    width: 10rem;
    height: 9rem;
    margin-top: 1rem;
    margin-bottom: none;
    padding: none;
}

#Label-Modal{
    color: black;
    width: 30%;
}

.Input-Modal{
    border-radius: 10px;
    width: 50% !important;
}

.modal-header{
    height: 10vh;
    background-color: rgb(31, 7, 127);
    justify-content: center;
    
}

#exampleModalLabel{
    color: aliceblue;
}

.modal-footer{
    background-color: rgb(31, 7, 127);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-secondary{
    background-color: rgb(214, 24, 24);
    width: 48%;
    margin: 0;
}

.btn-primary{
    background-color: #00bd6e;
    width: 48%;
    margin: 0;
    border: #00bd6e;
}

.btn-close{
    background-color: rgb(214, 24, 24);
}

.modal-body{
    width: 100%;
}

.Ticket{
    width: 80%;
    height: auto;
    margin: 2rem auto;
    clip-path: polygon(
        0 10%, 5% 0, 95% 0, 100% 10%, 
        100% 90%, 95% 100%, 5% 100%, 0 90%
    );
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-image: url(../img/10.jpg);
    background-size: contain;
}

.Campo-Ticket{
    margin-left: 2rem;
    color:rgb(255, 255, 0);
    width: 90%;
    margin: 0 auto;
}

.id-oculta{
    display: none;
}

.Boton-Ticket{
    width: 80%;
    margin: 0 auto;
}

.Boton-Ticket:hover{
    background-color: #00bd6e;
}

.funcion-Seleccionada{
    background-color: rgb(16, 16, 132);
}

.btn-primary:hover{
    background-color: #02d87f
}

.btn-secondary:hover{
    background-color: red;
}