#Contenedor-Fechas{
    width: 80%;
    height: auto;
    margin: 2rem auto;
    display: flex;
    flex: 1;
    background-color: #292525;
}

#Contenedor-Imagen{
    width: 30%;
    aspect-ratio: 2/3;
    margin: 2rem 2rem 2rem 2rem;
}

#Proximas-Funciones{
    display: flex;
    width: 70%;
    margin: 2rem auto;
    flex-direction: column;
}

#Contenedor-MostrarFechas{
    border: 2px solid rgb(117, 130, 142);
    border-radius: 3rem;
    width: 15%;
    height: 3rem;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Contenedor-MostrarFechas:hover{
    box-shadow: 1px  5px 10px whitesmoke;
    transform: scale(1.05);
    background-color: rgb(12, 12, 124);
}

.Mostrar-Fechas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.Mostrar-Horarios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

#Datos-Funciones{
    background-color: #4d4646;
}

#Contenedor-Funciones{
    width: 80%;
    align-items: center; 
    margin: 0 auto;
    margin-top: 2rem;
}

table {
    background-color: rgb(8, 5, 170);
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: aliceblue;
  }
  
td, th {
    border: 1px solid rgb(30, 30, 30);
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #4d4646;
}

.Ancho-Columna{
    width: 35%;
}

#LogoModal{
    width: 10rem;
    height: 9rem;
    margin-top: 1rem;
    margin-bottom: none;
    padding: none;
}

#Label-Modal{
    color: black;
    width: 30%;
}

.Input-Modal{
    border-radius: 10px;
    width: 50%;
}

.modal-header{
    height: 10vh;
    background-color: rgb(31, 7, 127);
}

#exampleModalLabel{
    color: aliceblue;
}

.modal-footer{
    background-color: rgb(31, 7, 127);
}

.btn-secondary{
    background-color: rgb(214, 24, 24);
}

.btn-primary{
    background-color: #00bd6e;
}

.btn-close{
    background-color: rgb(214, 24, 24);
}